* {
    list-style: none;

}

body {
    margin: 0;
    padding: 0;
}

header {
    background: rgb(31, 30, 30);
    border-bottom: 1px solid rgb(37, 37, 37);
}

ul {
    margin: 0;
}

.container {
    height: 60px;
    width: 980px;
    margin: auto;
}

.menu_left li {
    font-size: 14px;
    float: left;
    padding: 21px 50px 21px 0px;
}

.menu_right {
    float: right;
}

.menu_right li {
    font-size: 11px;
    float: left;
    padding: 23px 20px;
}

.container ul > li:hover > a {
    font-weight: 800;
    transition-duration: 0.3s;
    color: rgba(119, 119, 119, 0.918);
}

a {
    text-decoration: none;
    color: white;
}

.visual {
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    position: relative;
    background-size: cover;
}

.visual::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
}

.visual .inner {
    max-width: 980px;
    margin: 0 auto;
    padding: 395px 0;
    box-sizing: border-box;
    position: relative;
}

.visual .summary_title {
    color: white;
    font-size: 54px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25),
        0 1px 25px rgba(0, 0, 0, .75);
}

.visual .summary_description {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25),
        0 1px 25px rgba(0, 0, 0, .75);
}

.summary_title {
    font-size: 38px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 18px;
    text-align: center;
}

.summary_description {
    font-size: 26px;
    font-weight: 300;
    color: #767676;
    line-height: 1.5;
    text-align: center;
}


#align {
    text-align: center;
    height: 100px;
    padding: 150px;
}

.con1 {
    flex-wrap: wrap;
    display: flex;
    min-width: 280px;
    max-width: 980px;
    margin: auto;
}

.con1 h3 {
    text-align: center;
}

section h2 {
    font-size: 50px;
}

article {
    flex: 280px;
    margin: 20px;
    padding: 20px;

}

article img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}



footer {
    background: #fafbfc;
    color: black;
    font-size: 12px;
    padding: 1px;
}

footer .footer_in {
    width: 980px;
    padding: 5px;
    margin: auto;
}
