h2 {
    color: coral;
    font-size: 20pt;
}

body {
    background-color: azure;
}

#abc {
    color: yellow;
    background-color: crimson;
    background-image: url(img/bg.jpg);
}

.kang {
    color: yellow;
    background-color: crimson;
    background-image: url(img/bg.jpg);
}

a:link {
    color: darkturquoise;
    text-decoration: none;
}
