#abc {
    color: yellow;
    background-color: black;
    font-size : 20pt;
}
.kang {
    color: black;
    background-color: white;
}

.fot {
    font-size: 20pt;
    font-family: fantasy;
}